#[submodule "gnulib"]
#        path = gnulib
#        url = https://git.savannah.gnu.org/git/gnulib

[submodule "gnulib"]
        path = gnulib
        url = https://github.com/AcreetionOS-Linux/gnulib.git
